######### Frontend IGNORED FILES

# dependencies
frontend/node_modules
frontend/.pnp
frontend/.pnp.js

# testing
frontend/coverage

# next.js
frontend/.next/
frontend/out/

# production
frontend/build

# misc
frontend/.DS_Store
frontend/*.pem

# debug
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*

# local env files
frontend/.env*.local

# vercel
frontend/.vercel

# typescript
frontend/*.tsbuildinfo



############ API IGNORED FILES

api/HELP.md
api/.gradle
api/build/
api/!gradle/wrapper/gradle-wrapper.jar
api/!**/src/main/**/build/
api/!**/src/test/**/build/

### STS ###
api/.apt_generated
api/.classpath
api/.factorypath
api/.project
api/.settings
api/.springBeans
api/.sts4-cache
api/bin/
api/!**/src/main/**/bin/
api/!**/src/test/**/bin/

### IntelliJ IDEA ###
api/.idea
api/*.iws
api/*.iml
api/*.ipr
api/out/
api/!**/src/main/**/out/
api/!**/src/test/**/out/

### NetBeans ###
api/nbproject/private/
api/nbbuild/
api/dist/
api/nbdist/
api/.nb-gradle/

### VS Code ###
api/.vscode/


### GLOBALS
.DS_Store